* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 200px;
  background-color: #111;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
  transition: 0.3s;
}

.sidebar ul li a:hover {
  background-color: #575757;
}

/* Main Content */
.main-content {
  margin-left: 220px;
  padding: 30px;
}

section {
  margin-bottom: 80px;
}

.header-row {
  display: flex;
  align-items: baseline;
  gap: 20px;
}

.header-row h1 {
  font-size: 2em;
  color: #222;
}

.header-row h3 {
  font-size: 1.2em;
  /* font-weight: normal; */
  color: #555;
}


.contact-info {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping if screen is small */
  align-items: center;
  gap: 30px; /* Space between items */
  margin: 20px;
  font-family: sans-serif;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.contact-item img {
  width: 20px;
  margin-right: 10px;
}
